<h1>Your Pirate:</h1>
<h3><%= @pirate.name %> is <%= @pirate.weight %> pounds and <%= @pirate.height %> inches tall.</h3>

<h2>Your Ships:</h2>
<% @ships.each do |ship| %>
  <h4><%= ship.name %>: a <%= ship.type %> containing <%= ship.booty %>.
<% end %>
